@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholders";
@import "./base/fonts";
@import "./base/sizing-spacing";
@import "./layout/header";
@import "./layout/footer";
@import "./pages/index";
@import "./components/anim-check";
@import "./components/anim-menu";
@import "./components/hearts";
@import "./components/loading";
@import "./components/map";

/* Rules for all menus pages */

.menu {
    width: 100%;
    @extend %flex-col;
    justify-content: space-evenly;
    background-color: $color-grey;

    &__img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    &__title {
        @extend %flex-row;
        height: 100px;
        font-family: Shrikhand;
        font-style: italic 900 black;
        background-color: $color-grey;
        margin-top: -100px;
        padding: 0 15px;
        border-radius: $radius-medium $radius-medium 0 0;
        h1 {
            width: 90%;
            font-size: 31px;
            padding-top: 5px;
        }
    }

    &__heading {
        width: 62px;
        margin: 0 20px;
        padding-bottom: 5px;
        font-weight: normal;
        border-bottom: 3px solid $color-tertiary;
    }

    &__btn {
        margin: 30px auto 60px;
        padding: 15px 50px;
        color: white;
        background: linear-gradient(#FF79DA, #9356DC);
        border-radius: $radius-medium;
        box-shadow: 0px 5px 10px 2px rgba(62, 73, 64, 0.12);
        border: none;

        &:hover {
            filter: brightness(111%);
            box-shadow: 0px 5px 10px 2px rgba(82, 82, 82, 0.52);
        }
    }
}

.dish {
    @extend %flex-row;
    width: 90vw;
    height: 70px;
    margin: 22.5px auto;
    background-color: white;
    @include border;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &__content {
        width: 100%;
        @include no-deco;
        text-align: left;
        padding: 10px;
        transition: all 500ms ease-out;
        p {
            @extend %flex-row;
            justify-content: space-between;
        }
    }

    &__name {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__ingredient {
        width: 100%;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__price {
        width: 30px;
        font-weight: bold;
    }
}

@import "./base/responsive";