/* Variables */

/* Colors */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: rgb(240, 240, 240);
$color-black: rgb(49, 49, 49);
$color-btn: linear-gradient(#FF79DA, #9356DC);
$color-heart: linear-gradient(#9356DC, #FF79DA);

/* Dimensions */

$radius-light: 15px;
$radius-medium: 30px;
$radius-heavy: 50%;